[Unit]
Description=Detects when your U2F dongle is waiting for a touch
Requires=u2f-touch-detector.socket

[Service]
ExecStart=u2f-touch-detector --socket=@systemd
Restart=on-failure

[Install]
Also=u2f-touch-detector.socket
WantedBy=default.target
